#include <winver.h>
#include "ListDisk.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VER_FILEVERSION
 PRODUCTVERSION VER_PRODUCTVERSION
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004B0"  // Language Neutral
        BEGIN
            VALUE "CompanyName", "George King Company\0"
            VALUE "FileDescription", "ListDisk\0"
            VALUE "FileVersion", VER_FILEVERSION_STR
            VALUE "InternalName", "ListDisk\0"
            VALUE "LegalCopyright", "Copyright © 2024\0"
            VALUE "OriginalFilename", "ListDisk.exe\0"
            VALUE "ProductName", "ListDisk\0"
            VALUE "ProductVersion", VER_PRODUCTVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200  // Language Neutral
    END
END

// Icon resource
IDI_ICON1 ICON "ListDisk.ico"